body{
    margin: 0;
    padding: 0;
    letter-spacing: 2px !important;
    scroll-behavior: smooth;
}
.active{
    background-color: #0DCAF0 !important;
    border-radius: 50px;
    padding: 2px 10px !important;
}
.hal1{
    background-color: #3A4A5A; /* Biru abu-abu yang lembut */
    min-height: 100vh;
}

.dekripsi{
    width: 90% !important;
}
.output{
    width: 90% !important;
}

#Chartchiper, #Chartenglish , #Chartindo, #indo-freq, #english-freq{
    display: none; /* Sembunyikan grafik saat awal */
}